{% block content%}
<footer>
    <div class="footer-container">
        <!-- Primera Sección: Logo y Redes Sociales -->
        <div class="logo-social-section">
            <div class="logo">
                <img src="images/logo.png" alt="Logo de Tu Pollería">
            </div>
            <p>Nuestra pasión es crear platos de pollo excepcionales que te hagan sentir como en casa. Ven y descubre la auténtica sazón y calidad que nos distingue.</p>
            <div class="social-links">
                <a  class="social-link" href="[Enlace a Facebook]"><i class="fa-brands fa-facebook-f fa-beat-fade"></i></a>
                <a  class="social-link" href="[Enlace a Instagram]"><i class="fa-brands fa-instagram fa-beat-fade"></i></a>
            </div>
        </div>

        <!-- Segunda Sección: Horarios de Atención -->
        <div class="hours-section">
            <h3>Horarios de Atención</h3>
            <p>Lunes - Sabado: 12:00 PM - 10:00 PM</p>
            <p>Domingo: 12:00 PM - 6:00 PM</p>
        </div>

        <!-- Tercera Sección: Nuestros Locales -->
        <div class="locations-section">
            <h3>Nuestros Locales</h3>
            <p><strong>Sucursal 1:</strong>Av. Túpac Amaru A-5,(progreso) </p>
            <p><strong>Sucursal 2:</strong>Urb.  E-1, (Urb progreso)</p>
        </div>

        <!-- Cuarta Sección: Información de Contacto -->
        <div class="contact-info-section">
            <h3>Contacto</h3>
            <p><strong>Dirección:</strong> [Tu dirección]</p>
            <p><strong>Teléfono:</strong> [Tu número de teléfono]</p>
            <p><strong>Correo Electrónico:</strong> [Tu correo electrónico]</p>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2023 Marcu's. Todos los derechos reservados!</p>
    </div>
</footer>

{% endblock %}
   

